doctype html
html(lang="en")
	head
		block head:meta
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")

		block head:title
			title Articles

		block head:styles
			style.
				footer {
					padding-top: 1em;
					margin-top: 1em;
					border-top: 1px solid lightgray;
				}

				footer .links a {
					display: block;
				}

		block head:scripts
			//- empty

	body
		block body:header(container)
			header
				block body:header

		block body:content(container)
			main
				block body:content

		block body:footer(container)
			footer
				block body:footer
					.links
						a(href="/articles") See all articles
						a(href="/auth") Personal page

		block body:scripts
			//- empty
